<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sign In</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid #dddddd;
      padding: 8px;
      text-align: center;
    }
  </style>
</head>
<body>
  <table>
    <tr>
      <th>Логин</th>
      <th>Возраст</th>
      <th>Рост</th>
    </tr>
    <tr>
      <td>{{ login }}</td>
      <td>{{ age }}</td>
      <td>{{ height }}</td>
    </tr>
  </table>
</body>
</html>
